<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/product"><button>BACK TO LIST</button></a>
    INSERTION NOUVEAU PRODUIT
    <form action="#" th:object="${newProduct}" method="post">
        <input type="text" th:field="*{name}">
        <input type="number" step="0.01" th:field="*{price}">
        <input type="text" th:field="*{description}">
        <input type="text" th:field="*{image}">
        <input type="submit" value="CREATE">
    </form>
</body>
</html>